.button-container {
  cursor: pointer;
  font-family: lemonmilk-bold;
  position: relative;

  .fill-on-hover {
    padding: 10px 20px;
    transition: 1s ease;
    color: var(--red);

    &:hover {
      background-color: var(--orange);
      color: white;
    }
  }

  .wipe-fill-bottom {
    font-family: montserratmedium;
    border-bottom: solid 2px var(--orange);
    padding: 3px 10px 0;
    color: var(--orange);

    .button-mask {
      background-color: var(--yellow);
      position: absolute;
      width: 100%;
      height: 0;
      z-index: 99;
      bottom: 0;
      left: 0;
      transition: 0.5s ease;
    }

    span {
      position: relative;
      z-index: 100;
    }

    &:hover {
      .button-mask {
        height: 100%;
      }
    }
  }

  .submit-button {
    margin-top: 10px;
    background-color: var(--yellow);
    text-align: center;
    padding: 12px 0 10px;
    border: solid 2px var(--yellow);
    font-size: 20px;
    transition: 0.5s ease;

    &:hover {
      padding: 9px 0 4px;
      font-size: 26px;
    }
  }

  .active {
    background-color: var(--orange);
    color: white;
  }

  .navigation {
    height: 80px;

    span {
      position: relative;
      top: 30%;
    }
  }
}
