.button-container {
  cursor: pointer;
  height: 100%;

  .button-wrapper {
    text-align: center;
    padding: 10px;
    font-family: montserrat-semibold;
    transition: 0.5s ease;
  }

  .outlined-red {
    border: solid 2px var(--redlight);
    color: var(--reddark);
    border-radius: 5px;

    &:hover {
      border: solid 2px var(--red);
      background-color: var(--redlight);
    }
  }

  .outlined-yellow {
    border: solid 2px var(--yellowlight);
    color: var(--yellowdark);
    border-radius: 5px;

    &:hover {
      border: solid 2px var(--yellow);
      background-color: var(--yellowlight);
    }
  }

  .outlined-orange {
    border: solid 2px var(--orangelight);
    color: var(--orangedark);
    border-radius: 5px;

    &:hover {
      border: solid 2px var(--orange);
      background-color: var(--orangelight);
    }
  }

  .navigation-,
  .navigation-active {
    height: 100%;
    position: relative;
    font-family: lemonmilk-bold;
    background-color: var(--yellow);
    color: var(--red);

    .button-label-container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .navigation- {
    &:hover {
      background-color: var(--orange);
      color: white;
    }
  }

  .navigation-active {
    background-color: var(--orange);
    color: white;
  }
}
