.about-container {
  .render-about-module-container {
    text-align: justify;
  }

  .about-content-container {
    margin-top: 20px;

    .about-content-wrapper {
      padding: 20px;
      border-radius: 10px;
      border: solid 2px var(--orange);
      height: 100%;
      text-align: center;
    }
  }
}
