.about-container {
  .render-about-module-container {
    text-align: justify;

    .description-container {
      margin-top: 10px;
    }
  }

  .about-content-wrapper {
    border: 2px solid var(--orange);
    padding: 15px;
    border-radius: 20px;
    height: 100%;
  }
}
