.gallery-container {
  .gallery-nav-container {
    margin-bottom: 20px;

    .active-button,
    .inactive-button {
      padding: 10px 10px 0 10px;
      cursor: pointer;
      transition: 1s ease;
    }

    .active-button {
      background-color: var(--orange);
    }

    .inactive-button {
      &:hover {
        background-color: var(--yellow);
      }
    }
  }
}
