body {
  margin: 0;
  font-family: montserratregular;
}

.link {
  text-decoration: none;
}

.page-container {
  padding: 20px;
}

.content-container {
  max-width: 1000px;
  margin: auto;
}

.content-background {
  background-color: var(--orange);
  border: 20px solid var(--orange);
  border-radius: 10px;
}

.content-wrapper {
  border-radius: 10px;
  background-color: white;
}

iframe {
  border: none;
}

.breakline {
  border: solid 1px var(--orange);
  margin-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
