body {
  margin: 0;
  font-family: montserratregular;
  position: relative;
}

.app-container {
  .app-wrapper {
    margin: 20px auto;
    padding: 0 20px;
    max-width: 1020px;
    min-height: 87vh;
  }
}

.content-container {
  margin: auto;
  max-width: 1000px;
}

.position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link {
  text-decoration: none;
  color: black;

  &:active,
  &:hover {
    color: black;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--orange);
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--reddark);
}

// .page-container {
//   padding: 20px;
// }

// .content-container {
//   max-width: 1000px;
//   margin: auto;
// }

// .content-background {
//   background-color: var(--orange);
//   border: 20px solid var(--orange);
//   border-radius: 10px;
// }

// .content-wrapper {
//   border-radius: 10px;
//   background-color: white;
// }

// iframe {
//   border: none;
// }

// .breakline {
//   border: solid 1px var(--orange);
//   margin-bottom: 10px;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
