:root {
  --red: #fa0000;
  --yellow: #ffde00;
  --orange: #ff6d00;

  --redlight: #ffb4b4;
  --yellowlight: #fff398;
  --orangelight: #ffc69d;

  --reddark: #830000;
  --yellowdark: #d3ba00;
  --orangedark: #d65900;

  --transparent: rgba(0, 0, 0, 0.5);
  --transparent2: rgba(0, 0, 0, 0.1);
  --transparent3: rgba(0, 0, 0, 0.8);
  --transparent4: rgba(0, 0, 0, 0.7);

  --blue: rgb(0, 0, 255);
  --bluelight: rgb(128, 162, 255);
  --darkblue: rgb(0, 0, 66);
}
