.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;

  .modal-wrapper {
    position: fixed;
  }

  .modal-masking {
    background-color: var(--transparent);
    height: 100vh;
    width: 100vw;
  }
}

.modal-close {
  display: none;
}

.modal-open {
  display: block;
}
