.title-container {
  .inline,
  .blocked,
  .underline {
    font-family: lemonmilk-bold;
  }

  .inline,
  .blocked {
    font-size: 20px;

    .underline-container {
      display: none;
    }
  }

  .blocked {
    margin-top: 25px;
  }

  .underline {
    font-size: 30px;
    margin-bottom: 30px;

    .underline-container {
      background-color: var(--orange);
      border: solid 5px var(--orange);
      width: 50%;
    }
  }

  .medium {
    font-size: 20px;
  }

  .large {
    font-size: 40px;
  }

  .red {
    color: var(--red);
  }

  .blue {
    color: var(--darkblue);
  }
}
