// .book-a-meeting-container {
//   .meeting-button-container {
//     .meeting-button {
//       padding: 20px;
//       cursor: pointer;
//       text-align: center;
//       font-family: lemonmilk-bold;
//       border: 2px solid var(--yellow);
//       margin-bottom: 10px;
//       transition: 1s ease;

//       &:hover {
//         background: var(--yellow);
//       }
//     }

//     .active {
//       background: var(--yellow);
//     }
//   }

//   .book-a-meeting-wrapper {
//     .office-visit-form-hide,
//     .online-meeting-form-hide {
//       display: none;
//     }

//     .office-visit-form-show,
//     .online-meeting-form-show {
//       display: block;
//     }
//   }
// }
.book-a-meeting-container {
  .meeting-button-container {
    .meeting-button {
      padding: 20px;
      cursor: pointer;
      text-align: center;
      font-family: lemonmilk-bold;
      border: 2px solid var(--yellow);
      margin-bottom: 10px;
      transition: 1s ease;

      &:hover {
        background: var(--yellow);
      }
    }

    .active {
      background: var(--yellow);
    }
  }

  .book-a-meeting-wrapper {
    .schedule-container {
      width: 500px;

      .schedule-wrapper {
        padding: 10px;

        .date-time-note-container {
          margin-top: 20px;

          .date-time-note-wrapper,
          .date-time-additional-note {
            text-align: justify;
            margin-top: 10px;

            span {
              display: block;
            }
          }

          .note-show,
          .note-hide {
            transition: 1s ease;
            overflow: hidden;
          }

          .note-show {
            height: 154px;
          }

          .note-hide {
            margin-top: 0;
            height: 0;
          }
        }
      }
    }

    // .office-visit-form-hide,
    // .online-meeting-form-hide {
    //   display: none;
    // }

    // .office-visit-form-show,
    // .online-meeting-form-show {
    //   display: block;
    // }
  }
}
