.footer-container {
  border-top: solid 5px var(--orange);
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;

  .footer-social-media-icon-container {
    margin-top: 10px;
  }

  @media (max-width: 629px) {
    .footer-wrapper {
      margin-top: 20px;
    }
  }

  @media (max-width: 599px) {
    .footer-wrapper {
      margin: 20px 0;
    }
  }
}
