.footer-container {
  border-top: solid 5px var(--orange);

  .footer-wrapper {
    max-width: 1000px;
    text-align: center;
    margin: 20px auto;

    .tagline {
      font-family: lemonmilk-bold;
      font-size: 20px;
      //   color: var(--orange);
    }
  }
}
