.gallery-card-container {
  height: 100%;
  background-color: var(--orange);

  .image-container {
    position: relative;

    .image-mask,
    .image-details-container {
      display: none;
      position: absolute;
    }

    .image-mask {
      background-color: var(--transparent3);
      width: 100%;
      height: 100%;
    }

    .image-details-container {
      width: 80%;
      text-align: center;
      color: white;
    }
  }

  .video-container {
    .video-thumbnail-container {
      position: relative;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        .video-thumbnail-mask {
          height: 0;
        }
      }

      .video-thumbnail-mask,
      .play-button-container {
        position: absolute;
      }

      .video-thumbnail-mask {
        width: 100%;
        height: 100%;
        background-color: var(--transparent4);
        z-index: 10;
      }

      .play-button-container {
        color: white;
      }
    }

    .video-title-container {
      padding: 0 10px;
      text-align: center;
    }
  }

  @media (min-width: 600px) {
    .image-container {
      &:hover {
        .image-mask,
        .image-details-container {
          display: block;
        }
      }
    }
  }
}
