.header-container {
  background-color: var(--yellow);

  .header-wrapper {
    padding-left: 20px;

    .logo-container {
      height: 80px;
      padding: 10px;
    }

    .hamburger-navigation-container {
      display: none;
    }

    @media (max-width: 680px) {
      .navigation-container {
        display: none;
      }

      .hamburger-navigation-container {
        display: block;
      }
    }
  }
}

.menu-navigation-container {
  display: block;
}

.menu-navigation-container-inactive {
  display: none;
}

@media (min-width: 681px) {
  .menu-navigation-container {
    display: none;
  }
}
