.six-steps-container {
  .six-steps-wrapper {
    margin-top: 20px;
  }

  .item-container {
    .item-wrapper {
      text-align: center;
      .icon-container {
        margin: 10px 0;
      }
    }
  }
}
